

 <h3 class="text-muted">Productos</h3>
<p-dataTable [value]="products"
            selectionMode="single"
            [(selection)]="selectedProducto"
            [immutable]="false"
            expandableRows="true"
            emptyMessage="No hay Productos"
            scrollable="true" scrollHeight="500px"
            [rows]="15">
    <p-column [style]="{'width':'85%'}" field="name" header="Nombre"></p-column>

    <p-column [style]="{'width':'9%'}"  field="icon" header="Icono" >
        <ng-template let-col let-product="rowData" pTemplate="body">
            <img src="{{product[col.field]}}">
        </ng-template>
    </p-column>





</p-dataTable>



<br/>

 <!--
 <p-column field=<img src="icon"> header="Icono"></p-column>
 <p-column field=<img src="icon"> header="Logo" [filter]="true" filterMatchMode="contains" [sortable]="true"></p-column>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Icono</th>
        <th scope="col">Edito?</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products" (click)='select(product)'>


        <p (click)='select(product)'>
        <td>{{product.name}} </td>
        </p>
        <td> <img src="{{product.icon}}" alt="aaa" width="68" height="68" /></td>
        <td>  aaa</td>


    </tr>

    </tbody>
</table>
-->

Edit component
<div>
  <app-product-edit
  *ngIf = "productSelected"
  [productOriginal] = "productSelected"
  (productUpdated) = "OnEdit($event)"
  ></app-product-edit>
</div>
